.box{
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-bottom: 36px;
}

.title{
    margin-bottom: 44px;
    font-size: 36px;
    font-weight: bold;
}

.title > span{
    border-bottom: 7px solid #0098fe;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.leftCont{
    width: 200px;
    /*height: 200px;*/
    margin-right: 32px;
}

.leftCont > img{
    width: 200px;
    height: 200px;
}

.rightCont{
    display: flex;
    flex-flow: wrap;
    width: calc(100% - 232px);
}

.rightCont > div{
    width: 33%;
    padding-left: 64px;
    box-sizing: border-box;
}

.detailBox{
    display: flex;
    align-items: center;
    gap: 12px;
}

.detailBox > img{
    width: 30px;
    height: 30px;
}

.detailFontBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    gap: 12px;
}

.detailFontBox > span{
    font-weight: bold;
}
