.box{
    display: flex;
    flex-direction: column;
    padding: 80px 15% 60px 15%;
    background: #000000;
    color: #ffffff;
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: bold;
    gap: 40px;
}

.title > span{
}

.content{
    display: flex;
}

.leftCont{
    margin-right: 32px;
}

.leftCont > img{
    width: 240px;
}


.rightCont{
    display: flex;
    flex-flow: wrap;
}

.description{
    margin-bottom: 16px;
    color: #d3cbcb;
    font-size: 19px;
}

.kindBox{
    display: flex;
    font-size: 16px;
}

.kindBox > div{
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ffffff;
    padding-right: 80px;
    gap: 16px;
}

.kindBox > div > label{
    color: white;
}
