.background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f9f9f9;
    opacity: 1;
    background: rgb(60 59 59 / 77%);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    transition: all 0.2s linear;
}

.noOpacity{
    opacity: 0;
    transition: all 0.15s linear;
}

.box{
    position: absolute;
    top: 5%;
    left: 5%;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    background: #1C1A1A;
    border-radius: 36px;
    padding: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    height: 45px;
}

.body{
    height: calc(100% - 105px);
    overflow-y: scroll;
}

.title{
    font-weight: bold;
    font-size: 36px;
}

.exit > img{
    width: 24px;
    cursor: pointer;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.category{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categoryTitle{
    display: flex;
    align-content: center;
    gap: 12px;
    font-size: 32px;
    font-weight: bold;
}

.categoryTitle > img{
    width: 40px;
}

.categoryData{
    padding-left: 52px;
    font-size: 16px;
    color: #e3e3e3;
}

.body{
    overflow: auto;
}

.body::-webkit-scrollbar {
    width: 10px;
}

.body::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.body::-webkit-scrollbar-track {
    /*background-color: grey;*/
    border-radius: 10px;
    /*box-shadow: inset 0px 0px 5px white;*/
}

.ganttUl > li,
.evaluationUi > li{
    margin-bottom: 12px;
}

.techBox{
    display: flex;
    align-items: center;
    gap: 12px;
}

.hardSpan{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hardSpan > span{
    font-size: 24px;
    font-weight: bold;
    /*padding-left: 24px;*/
}

.ganttImgSet{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ganttImgSet > img{
    width: 49%;
    border-radius: 6px;
}

.evaluationSet{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 64px;
    padding: 32px 0 32px 0;
}

.evaluationSet > img{
    width: 37%;
    border-radius: 6px;
}

.middleImgSet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin:32px 0 32px 0;
    gap: 16px;
}

