.background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f9f9f9;
    opacity: 1;
    background: rgb(60 59 59 / 77%);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    transition: all 0.2s linear;
}

.noOpacity{
    opacity: 0;
    transition: all 0.15s linear;
}

.box{
    position: absolute;
    top: 5%;
    left: 20%;
    right: 0;
    bottom: 0;
    width: 60%;
    min-width: 850px;
    height: 90%;
    border-radius: 12px;
    padding: 60px 0 60px 60px;
    box-sizing: border-box;
    overflow: hidden;
    background: #252525;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    margin-bottom: 60px;
    height: 45px;
}

.body{
    height: calc(100% - 105px);
    overflow-y: scroll;
}

.title{
    font-weight: bold;
    font-size: 18px;
}

.exit > img{
    width: 24px;
    cursor: pointer;
}

.body{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    gap: 30px;
}

.category{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.categoryTitle{
    display: flex;
    align-content: center;
    gap: 12px;
    font-size: 20px;
    font-weight: bold;
}

.categoryTitle > img{
    width: 20px;
}

.categoryData{
    display: flex;
    width: 100%;
    /*padding-left: 52px;*/
    font-size: 16px;
    color: #e3e3e3;
    overflow: scroll;
    box-sizing: border-box;
    overflow: hidden;
}

.body{
    overflow: auto;
}

.body::-webkit-scrollbar {
    width: 10px;
}

.body::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.body::-webkit-scrollbar-track {
    /*background-color: grey;*/
    border-radius: 10px;
    /*box-shadow: inset 0px 0px 5px white;*/
}

.ganttUl > li,
.evaluationUi > li{
    margin-bottom: 12px;
}

.techBox{
    display: flex;
    align-items: center;
    gap: 12px;
}

.hardSpan{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hardSpan > span{
    font-size: 24px;
    font-weight: bold;
    /*padding-left: 24px;*/
}

.ganttImgSet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /*justify-content: space-between;*/
    /*width: 97%;*/
}

.ganttImgSet > img{
    width: 100%;
}

.evaluationSet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

.evaluationSet > img{
    width: 37%;
    border-radius: 6px;
}

.ganttMiddleImgSet{
    display: flex;
    flex-direction: column;
}

.gmIsTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    gap: 24px;
    box-sizing: border-box;
}

.gmIsTop > div{
    box-sizing: border-box;
}

.gmIsTop > img{
    width: 100%;
    box-sizing: border-box;
}

.gmIsBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
}


.middleImgSet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin:32px 0 32px 0;
    gap: 16px;
}

.middleImgSet > span{
    font-size: 12px;
}

.ingImgSet{
    display: flex;
    align-items: center;
    justify-content: center;
}


.fotGifSet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.middleImgSet > span{
    font-size: 12px;
}


.qdropImgSet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 100%;
    height: 100%;
    padding-bottom: 12px;
}

.qdropImgSet > img{
    max-width: calc(30% - 24px);
    max-height: 370px;
}


.qdropLastImgSet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 100%;
    height: 100%;
    padding-bottom: 12px;
    overflow: hidden;
}

.qdropLastImgSet > img{
    max-width: calc(30% - 24px);
    /*max-height: 370px;*/
}

.qdropImgSet::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.qdropImgSet::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

.categoryData li{
    line-height: 28px;
}


*{
    font-family: "Pretendard";
}

*:link {
    color: white !important;

}

*:-webkit-any-link {
    color: white !important;
}

*:visited {
    color: white !important;
}
*:hover {
    color: white !important;
}
*:active {
    color: white !important;
}