.box{
    display: flex;
    flex-direction: column;
    padding: 0 15% 72px 15%;
    gap: 40px;
    background: #000000;
    color: #ffffff;
}

.smallBox{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.frontSpan,
.versionSpan{
    color: #c0bebe;
}


.frontImg img{
    width: fit-content;
    max-width: 80%;
    min-width: 1000px;
}

.versionImg img{
    width: fit-content;
    max-width: 60%;
    min-width: 800px;
}
