.box{
    display: flex;
    flex-direction: column;
    padding: 0 15% 72px 15%;
    gap: 40px;
    background: #000000;
    color: #ffffff;
}

.smallBox{
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.3s linear;
    gap: 12px;
}

.smallUnBox{
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s linear;
    gap: 12px;
}


.frontSpan,
.versionSpan{
    color: #c0bebe;

}

.frontImg{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.versionImg{
    display: flex;
    align-items: center;
    gap: 20px;
}
