.box{
    display: flex;
    flex-direction: column;
    padding: 30px 20%;
    gap: 40px;
    color: #ffffff;
}

.title{
    font-size: 18px;
    font-weight: 600;
}

.smallBox{
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.3s linear;
    gap: 12px;
}

.smallUnBox{
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s linear;
    gap: 12px;
}


.frontSpan,
.versionSpan{
    display: flex;
    justify-content: flex-start;
    /*justify-content: flex-end;*/
    color: #c0bebe;
}

.frontImg{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.versionImg{
    display: flex;
    align-items: center;
    gap: 20px;
}
