.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 88px 24px;
    color: #222222;
}

.leftBox{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.rightBox{
    display: flex;
    gap: 16px;
}

.rightBox > div{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;;
}
