.box{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 120px;
    background: #131313;
}

.head{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 44px;
}

.body img{
    width: 100%;
    opacity: 0.7;
}

.title{
    font-size: 36px;
    font-weight: bold;
}

.detail{
    color: rgba(204, 204, 204, 0.66);
    font-weight: bold;
}

.singleCard, .multiCard{
    /*cursor: pointer;*/
}

.singleCard{
    overflow: hidden;
    margin-bottom: 24px;
}

.ganttCard{
    position: relative;
    width: 100%;
    height: 321px;
    opacity: 0.8;
    cursor: pointer;
    /*background-image: url("../../../../public/images/projects/ganttMain.gif");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%*/
}

.ganttCard > img{
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.cardBackground{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 200px;
    width: 100%;
    height: 120px;
    background: rgba( 5, 5, 5, 0.8 );
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    transition: all 0.35s ease;
}

.cardBackground.noCard{
    top: 400px;
    transition: all 0.35s ease;
}

.cardBackground > span{
    color: #ffffff;
    padding-left: 36px;
}

.fotcard{
    overflow: hidden;
    position: relative;
    height: 600px;
    max-height: 600px;
    min-height: 600px;
    opacity: 0.8;
    cursor: pointer;
}

.fotcard > img{
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.fotcardBackground{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    top: 480px;
    width: 100%;
    height: 120px;
    opacity: 1;
    background: rgb(114 114 114 / 60%);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    transition: all 0.35s ease;
}

.fotcardBackground.noCard{
    top: 800px;
    transition: all 0.35s ease;
}

.fotcardBackground > span{
    color: #ffffff;
    padding-left: 16px;
}

.multiCard{
    display: flex;
    margin-bottom: 32px;
}

.areaLeft{
    width: 35%;
    min-width: 300px;
}

.areaRight{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    min-height: 100%;
    height: 100%;
    width: 65%;
    margin-left: 24px;
    gap: 40px;

}


.evaluationCard{
    overflow: hidden;
    position: relative;
    height: 280px;
    max-height: 280px;
    min-height: 280px;
    width: 100%;
    opacity: 0.8;
    cursor: pointer;

}

.evaluationCard > img{
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.evaluationCardBackground{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    top: 160px;
    width: 100%;
    height: 120px;
    padding-left: 24px;
    background: rgba( 5, 5, 5, 0.8 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    opacity: 1;
    transition: all 0.35s ease;
}

.evaluationCardBackground.noCard{
    top: 320px;
    transition: all 0.35s ease;
}

.fotCardList{
    display: flex;
    gap: 30px;
}

.fotCard{
    overflow: hidden;
    position: relative;
    height: 370px;
    max-height: 370px;
    min-height: 370px;
    width: 100%;
    opacity: 0.8;
    cursor: pointer;

}

.fotCard > img{
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.fotCardBackground{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    top: 250px;
    width: 100%;
    height: 120px;
    padding-left: 24px;
    background: rgba( 5, 5, 5, 0.8 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba(0, 0, 0, 0.18);
    opacity: 1;
    transition: all 0.35s ease;
}

.fotCardBackground.noCard{
    top: 500px;
    transition: all 0.35s ease;
}
