.box{
    position: relative;
    top: -1px;
    width: 100%;
    min-width: 1280px;
    height: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
    color: #ffffff;
}


.explainBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 28px;
    /*border-left: 4px solid #03a9f4;*/
    height: 200px;
    margin-bottom: 72px;
    font-size: 32px;
    font-weight: bold;
    gap: 24px;
}

.highlight > p{
    color: #0FC3FA;
}

.kindBox{
    display: flex;
    /*justify-content: ;*/
    width: 100%;
    height: 58px;
    opacity: 1;
    transition: all 0.6s linear;
}

.nonKindBox *{
    opacity: 0;
    transition: all 0.6s linear;
}

.nonKindBox{
    width: 100%;
    height: 58px;
    opacity: 0;
    transition: all 0.6s linear;
}

.kindExplain{
    display: flex;
    flex-direction: column;
    min-width: 108px;
    /*border-right: 2px solid #ffffff;*/
    padding-right: 60px;
    gap: 20px;
}

.kindExplain > p{
    font-size: 14px;
    font-weight: bold;
    color: #c0bebe;
}

.displayBox{
    width: 0px;
    height: 38px;
    overflow: hidden;
    transition: all 0.6s linear;
}
.detailBox{
    display: flex;
    height: 100%;
}

.nonDisplay{
    width: 100%;
    height: 38px;
    overflow: hidden;
    transition: all 0.5s linear;
}

.nonBorderBox{
    border-left: 4px solid #0098fe;
    width: 4px;
    max-height: 0;
    transition: all 0.4s ease;
}

.borderBox{
    border-left: 4px solid #0098fe;
    width: 4px;
    max-height: 200px;
    transition: all 0.4s ease;
}


/**/

.rbTop{
    display: flex;
    gap: 12px;
}

.leftBox{
    width: 20%;
    height: 100%;
}

.rightBox{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;

}

.rbContents{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rbtTitle > p{
    color: #0098fe;
    font-weight: bold;
}

.rbtBody{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rbtBody label{
    font-size: 16px;
    font-weight: bold;
}
